<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="" rel="stylesheet">
    <title>Life Saver - CPR</title>
</head>
<body>
    
    <div class="container">
        <br>
        
        <h1>CPR</h1>

        <ol>
            <li class="py-2">Scene survey/environment check</li>
            <ul>
                <li>No gas</li>
                <li>No glass</li>
                <li>No fire</li>
                <li>No wire</li>
            </ul>

            <li class="py-2">Check responsiveness</li>
            <ul>
                <li>Talk to them "can you hear me?"</li>
                <li>Tap the ground around their ear</li>
                <li>Pinch their ear</li>
            </ul>

            <li class="py-2">Tell bystander to call EMS & get an AED</li>

            <li class="py-2">Check breathing</li>
            <ul>
                <li>Tilt their head & lift their chin to open airway</li>
                <li>Look towards abdomen, check for movement (breathing)</li>
                <li>Listen for breathing</li>
                <li>Feel under nose for breathing</li>
            </ul>

            <li class="py-2">Perform 30 chest compressions to 2 rescue breaths</li>
            <ul>
                <li class="py-2">Chest compressions</li>
                <ul>
                    <li>Location: between the nipple line, or 1 handprint below armpit line</li>
                    <li>Adult: one hand over the other</li>
                    <li>Child: one hand</li>
                    <li>Infant: 2 fingers</li>
                    <li>Don't bend elbows</li>
                    <li>Look for chest recoil (comes back up)</li>
                    <li>2in/5cm deep for adult</li>
                    <li>1/3 of chest for infant/child</li>
                </ul>

                <li class="py-2">Rescue breaths</li>
                <ul>
                    <li>Adult/child: normal breath (not a deep breath)</li>
                    <li>Infant: smaller breath (fill your cheeks)</li>
                </ul>
            </ul>

            <li class="py-2">When AED arrives, follow AED prompts</li>

            <li class="py-2">When to stop</li>
            <ul>
                <li>When EMS arrives</li>
                <li>When you are too tired to continue CPR</li>
                <li>When you are in danger</li>
                <li>When the victim vomits, becomes unconscious, or starts breathing</li>
            </ul>

        </ol>
        

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>